body {
  font-size: 40px;
}

* {
  box-sizing: border-box;
}

div {
  background: #bebbbb;
  width: 2800px;
  height: 1400px;
 border-radius: 40px 0 0 40px;
 overflow: hidden;
 overflow: auto;
  padding: 30px;
  margin: 20px;
}

.block {
  background: #c5ab8d;
  padding: 30px;
  margin: 20px;
  width: 600px;
  height: 500px;
  display: inline-block;
  border-radius: 40px;
}