body {
  font-size: 30px;
}

* {
  box-sizing: border-box;
}

.block1 {
  background: #bebbbb;
  height: 1100px;
  border-radius: 40px 0 0 40px;
  overflow: hidden auto;
  padding: 3px;
  margin: 3px;
  border: 5px groove #000;
}

.block {
  background: #c5ab8d;
  padding: 50px;
  margin: 20px;
  width: 450px;
  height: 400px;
  display: inline-block;
  border-radius: 40px;
  box-shadow: inset 0px 0px 20px 1px #000;
}
