body {
  font-size: 20px;
}

* {
  box-sizing: border-box;
}

.block1 {
  background: #bebbbb;
  height: 600px;
  border-radius: 40px 0 0 40px;
  overflow: hidden auto;
  margin: 3px;
  border: 2px solid #000;
}

.block {
  background: #c5ab8d;
  padding: 25px;
  margin: 10px;
  width: 350px;
  height: 300px;
  display: inline-block;
  border-radius: 40px;
  box-shadow: inset 0px 0px 20px 1px #000;
}
