html {
  font-family: Ubuntu, sans-serif;
  font-weight: 400;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 375px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

a,
button {
  outline: none;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}

.text {
  color: #535755;
  font-family: Ubuntu sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
  text-align: left;
}

.button {
  display: inline-block;
  padding: 19px 32px;
  font-weight: 500;
  font-size: 15px;
  line-height: 130%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background-color: #3596ed;
  transition: opacity 0.2s background-color 0.2s;
}

.button:hover {
  opacity: 0.85;
}

.button:not(:disabled) :active {
  background-color: #2c79bd;
}

button.button:disabled {
  opacity: 0.65;
  cursor: default;
}

.section {
  margin-bottom: 140px;
}

.title-large {
  max-width: 992px;
  margin-bottom: 40px;
  font-family: Oswald, sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 115%;
  text-transform: uppercase;
  color: #2c332f;
}

.text-sub {
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #858e8a;
}

a:focus-visible,
button:focus-visible,
summary:focus-visible {
  outline: 2px solid #3596ed;
  outline-offset: 1px;
}

.title-medium {
  font-family: Oswald, sans-serif;
  color: #2c332f;
  font-size: 24px;
  font-weight: 500;
  line-height: 115%;
  text-align: left;
  text-transform: uppercase;
}

@media (width <=992px) {
  .hero-container {
    max-width: 768px;
  }

  .title-large {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .home-page .title-large {
    text-align: center;
    max-width: inherit;
  }
  .section {
  margin-bottom: 80px;
}

}

@media (width <=768px) {
  .hero-container {
    max-width: 576px;
  }
  .title-medium {
    font-size: 20px ;
  }
.title-large {
    font-size: 34px;
      }
}

@media (width <=576px) {
  .section {
    margin-bottom: 90px;
  }

  .title-large {
    font-size: 32px;

  }
  .title-medium {
    font-size: 18x ;
  }
  .section {
  margin-bottom: 50px;
}

}