.hero-section {
    position: relative;
    padding-top: 80px;
}

.hero-section::after {
    content: "";
    position: absolute;
    bottom: 106px;
    z-index: -1;
    width: 100%;
    height: 48px;
    background: url("../images/decor.svg") repeat-x;
}

.hero-container {
    display: flex;
    gap: 28px;
}

.hero-info h1 {
    margin-bottom: 40px;
    font-family: Oswald, sans-serif;
    font-weight: 600;
    font-size: 62px;
    line-height: 115%;
    text-align: left;
    text-transform: uppercase;
    color: #2c332f;
}

.hero-info {
    max-width: 492px;
}

.hero-images {
    display: flex;
    position: relative;
}

.point {
    color: #3596ed;
}

.hero-choose {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-55%);
    max-width: 160px;
    padding: 15px;
    background: #ffffffe6;
    border: 1px solid #535755;
    text-align: center;
    font-size: 16px;
}

.news-container {
    display: flex;
    gap: 28px;
}

.news-article {
    display: flex;
    flex-direction: column;
    max-width: 284px;
    flex: 1 1 25%;
    background-color: #fff;
    border: 1px solid #d3cbd9;
    overflow: hidden;
}

.news-article img {
    display: block;
}

.text-info {
    margin-bottom: 140px;
    margin-right: 53px;
}

.news-info {
    /* height: 139px; */
    padding: 20px 20px 0;
    margin-bottom: 12px;
}

.news-date {
    display: inline-block;
    margin-bottom: 8px;
}

.news-article footer {
    padding: 0 20px 20px;
    margin-top: auto;
}

.news-link {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #3596ed;
}

.news-link::after {
    content: "";
    display: inline-block;
    flex-shrink: 0;
    width: 21px;
    height: 7px;
    background: url("../images/Arrow-right-con1.svg") no-repeat;
    transition: transform 0.3s;
}

.news-link:hover::after {
    transform: translateX(3px);
}

.faq-section {
    position: relative;
}

.faq-section::before {
    content: "";
    position: absolute;
    top: 215px;
    z-index: -1;
    width: calc(50% - 250px);
    height: 48px;
    background: url("../images/decor.svg") repeat-x;
}

.faq__container {
    display: flex;
    gap: 28px;
}
.faq-block{
    width: 100%;
}
details {
    margin-bottom: 20px;
    border-block: 1px solid #d3cbd9;
    
}

details[open] summary::after {
    transform: rotate(180deg);
}

summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    list-style: none;
    padding: 20px;
    cursor: pointer;
}

summary::-webkit-details-marker {
    display: none;
}

summary::after {
    content: "";
    display: inline-block;
    flex-shrink: 0;
    width: 17px;
    height: 22px;
    background: url(../images/Arrow-down.svg) no-repeat center / cover;
}

details>p {
    padding: 0 20px;
}



@media (width <=1440px) {
    .hero-images img {
        width: 50%;
    }
}

@media (width <=992px) {
    .hero-container {
        flex-direction: column;
        align-items: center;
    }

    .text-info {
        margin-bottom: 20px;
        margin-right: 0;

    }

    .hero-info {
        text-align: center;

    }

    .hero-info h1 {
        text-align: center;
        font-size: 52px;
        margin-bottom: 30px;
    }

    .hero-section::after {
        display: none;
    }

    .news-container {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .news-article img {
        width: 100%;
    }

    .news-article {
        flex-basis: 100%;
        max-width: 400px;
    }

    .faq__container {
        flex-direction: column-reverse;
        align-items: center;
    }

    .faq-section::before {
        display: none;
    }

    details {
        max-width: 576px;
    }


}

@media (width <=768px) {
    .hero-section {
        padding-top: 60px;
    }

    .hero-info h1 {
        font-size: 48px;
    }

}

@media (width <=576px) {
    .hero-info h1 {
        font-size: 42px;
    }

    .hero-info {
        max-width: 410px;
    }

    .hero-section {
        padding-top: 40px;
    }

    .hero-choose {
        max-width: 98px;
        padding: 5px;
        font-size: 12px;
    }

    .faq__container img {
        width: 90%;
    }
}
@media (width <=300px) {
      .hero-choose {
        max-width: 96px;
        padding: 2px;
        font-size: 12px;
    }

}