.other__products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(345px, 1fr));
  gap: 20px;
  
}

.other__product {
  border: 2px solid var(--accent-color);
  border-radius: 12px;
  box-shadow: var(--shadow-accent-glow1), inset var(--shadow-accent-glow1);
}

.other__product-link {
  display: flex;
  justify-content: space-between;
    height: 100%;
  min-height: 204px;
  color: var(--main-color);
  transition: color var(--transition-time);
}

@media (any-hover:hover) {
  .other__product-link:hover {
    color: var(--accent-color);
  }
}

@media (width > 576px) {
  .other__product-link {
    padding: 30px;
  }
}

@media (width <= 576px) {
  .other__product-link {
    padding: 20px;
  }
}
.other__product-content{
display: flex;
flex-direction: column;
justify-content: space-between;
height: 100%;
}
@media (width>768px) {
  .other__product-content{
flex-shrink: 0;
}
}
.other__product-title {
  color: currentColor;
  max-width: 139px;
}
.other__product-icon {
  stroke: currentColor;
}
.other__product-img-wrapper{
align-self: end;
}
.other__model-product-img{
width: 100%;
}
@media (width<=576px) {
  .other__model-product-img{
max-width: 156px;
}
}