.specification__video {
    position: relative;
}

@media (width >576px) {
    .specification__video {
        margin-bottom: 60px;
    }
}

@media (width <=576px) {
    .specification__video {
        margin-bottom: 40px;
    }
}

.pecification__video-preview {
    border: 1px solid var(--main-color);
    border-radius: 12px;
    overflow: hidden;
}

.specification__video-play-link {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: var(--overlay-color);
    border: 1px solid var(--main-color);
    box-shadow: var(--shadow-glow), inset var(--shadow-glow);
    transition: var(--transition-time);
}

@media (any-hover: hover) {
    .specification__video-play-link:hover {
        border-color: var(--accent-color);
        box-shadow: var(--shadow-accent-glow);
    }
}

@media (width >576px) {
    .specification__video-play-link {
        width: 80px;
        height: 80px;
    }

    .specification__video-play-icon {
        width: 17px;
        height: 24px;
    }
}

@media (width <=576px) {
    .specification__video-play-link {
        width: 48px;
        height: 48px;
    }

    .specification__video-play-icon {
        width: 10px;
        height: 13px;
    }
}

.specification__description {
    display: grid;
    gap: 40px 20px;
    grid-template-columns: repeat(auto-fit,minmax(345px, 1fr));
}

.specification__description-icon{
   
    transform: translateX(-2px);
}
@media (width >576px) {
    .specification__description-icon{
    width: 40px;
    height: 40px;
    }
}

@media (width <=576px) {
    .specification__description-icon{
    width: 32px;
    height: 32px;
    }
}
.specification__title {
    padding-top: 20px;
    padding-bottom: 20px;
}