.page {
  font-family: var(--font-family);
  font-weight: 400;
  color: var(--main-color);
}

.page__body {
  min-width: 375px;
  background-color: var(--bg-color);
}

.page__body--no-scroll {
  overflow-y: hidden;
}

.container {
  width: min(var(--container-width), 100% - var(--container-padding) * 2);
  margin-inline: auto;
}

img {
  object-fit: cover;
}

a:focus-visible,
button:focus-visible,
imput:focus {
  outline: 1px solid var(--accent-color);
  outline-offset: 2px;
}

.text-light,
.text-regular {
  font-size: 16px;
  line-height: 140%;
  color: var(--main-color);
}

.text-light {
  font-weight: 300;
}

.text-regular {
  font-weight: 400;
}
.text-smoll {
color: var(--main-color);
font-size: 14px;
font-weight: 300;
line-height: 140%;
}
.title-sm,
.title-av,
.title-md {
  font-weight: 600;
  text-transform: uppercase;
  color: var(--main-color);
}

.title-md {
  /* min-width 375px max-width 992px */
  font-size: clamp(32px, 14.98px + 4.54vw, 60px);
}

.title-av {
  font-size: 18px;
  line-height: 22px;
  text-align: left;
}

.title-sm {
  /* min-width 375px max-width 768px */
  font-size: clamp(24px, 1.143rem + 1.79vw, 32px);
}

@media (width >768px) {
  .section {
    padding-bottom: 140px;
  }

  .section__title {
    margin-bottom: 40px;
  }
}

@media (width <=768px) {
  .section {
    padding-bottom: 80px;
  }

  .section__title {
    margin-bottom: 30px;
  }
}