@font-face {
  font-family: Lato;
  src: local("Lato Light"), local("Lato-Light"),
    url("../../fonts/woff2/Lato-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Lato;
  src: local("Lato Regular"), local("Lato-Regular"),
    url("../../fonts/woff2/Lato-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Lato;
  src: local("Lato Bold"), local("Lato-Bold"),
    url("../../fonts/woff2/Lato-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Lato;
  src: local("Lato Black"), local("Lato-Black"),
    url("../../fonts/woff2/Lato-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
