.testimonials {
    position: relative;
    background: var(--gray200);
    margin-bottom: 120px;
    padding-bottom: 100px;
}

@media (width<=768px) {
    .testimonials {
        margin-bottom: 40px;
        padding-bottom: 30px;
    }
}
@media (width>=922px) {
     .testimonials::before {
        content: "";
        position: absolute;
        width: 129px;
        height: 129px;
        display: block;
        background-image: url("../../icons/shapes/circles-testimonials.svg");
        background-repeat: no-repeat;
        right: 0px;
        top: 520px;
    }
   
}


.testimonials__heading {
    text-align: center;
    margin-bottom: 60px;
    position: relative;
    
}

@media (width<=768px) {
    .testimonials__heading {
        margin-bottom: 40px;
    }
}

@media (width>=922px) {
    .testimonials__heading::after {
        content: "";
        position: absolute;
        width: 87px;
        height: 47px;
        display: block;
        background-image: url("../../icons/shapes/shapes-right.svg");
        background-repeat: no-repeat;
        right: 260px;
        bottom: 10px;
        opacity: 0.8;
    }
    .testimonials__heading::before {
        content: "";
        position: absolute;
        width: 145px;
        height: 145px;
        display: block;
        background-image: url("../../icons/shapes/circles.svg");
        background-repeat: no-repeat;
        left: -250px;
        bottom: 50px;
                   }
   }
  
.testimonials__block {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    gap: 58px;
}

@media (width<=768px) {
    .testimonials__block {
        gap: 25px;
    }
}

@media (width>=922px) {
    .testimonials__block::after {
        content: "";
        position: absolute;
        width: 143px;
        height: 105px;
        display: block;
        background-image: url("../../icons/shapes/dots.svg");
        background-repeat: no-repeat;
        left: 0px;
        bottom: 0px;
    }
    
}

.testimonials-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 69px;
}

@media (width<=576px) {
    .testimonials-wrapper {
        flex-direction: column;
        gap: 15px;
    }
}

.testimonial {
    border-radius: 4px;
    box-shadow: var(--shadow-disable-glow);
    background: var(--white);
    padding: 64px 105px;
}

@media (width<=768px) {
    .testimonial {
        padding: 24px 35px;
    }
}

@media (width<=576px) {
    .testimonial {
        padding: 14px 15px;
    }
}

.testimonial-wrapper {
    display: flex;
    gap: 30px;
}

@media (width<=768px) {
    .testimonial-wrapper {
        gap: 15px;
    }
}

.testimonial-icon {
    flex-shrink: 0;
}

.testimonial__braces-review {
    margin-bottom: 24px;
    color: var(--gray800);
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
}

@media (width<=576px) {
    .testimonial__braces-review {
        font-size: 18px;
    }
}

.testimonial__braces-user-profile {
    display: flex;
    align-items: center;
    gap: 20px;
}


.name-position-text {
    color: var(--gray700);
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
}

.testimonials__dots {
    display: flex;
    gap: 12px;
}