.why {
    position: relative;
    margin-bottom: 180px;
}

@media (width<=992px) {
    .why {
        margin-bottom: 80px;
    }
}

@media (width>=922px) {
    .why::before {
        content: "";
        position: absolute;
        width: 143px;
        height: 287px;
        display: block;
        background-image: url("../../icons/shapes/why/circles1.svg");
        background-repeat: no-repeat;
        right: 0px;
        top: 250px;
        
    }
}

.why__wrapper {
    display: flex;
    position: relative;
    gap: 135px;
}

@media (width<=992px) {
    .why__wrapper {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        gap: 20px;
        padding: 0 0 0 32px;
    }
}

@media (width>=922px) {
    .why__wrapper::before {
        content: "";
        position: absolute;
        width: 181px;
        height: 132px;
        display: block;
        background-image: url("../../icons/shapes/why/circles.svg");
        background-repeat: no-repeat;
        left: -350px;
        top: 100px;
    }

   
}

.who_we_are-text {
    color: var(--gray800);
    margin-bottom: 8px;
}

.who_we_are-title {
    margin-bottom: 40px;
}

.who_we_are-list {
    margin-bottom: 48px;
}

.who_we_are-item {
    position: relative;

}

.who_we_are-item::before {
    content: "";
    position: absolute;
    background-image: url("../../icons/why/check.svg");
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    left: -32px;
    top: 6px;
}

.who_we_are-link {
    width: 161px;
    height: 44px;
    font-size: 14px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0.5px;
}